$card-color: #FF8303;
$bg-color: #F0E3CA;
$text-color: #1B1A17;



.card {
    width: 20%;
    height: 300px;
    background-color: $card-color;
    color: $text-color;
    display: flex;
    justify-items: center;
    border: 2px solid rgba(29, 23, 32, 0.705);
    box-shadow: 1px 1px 8px rgba(29, 23, 32, 0.705);

    // rgb(55, 39, 66, 0.705);

    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;
    background: rgb(255, 229, 180);
    background: radial-gradient(circle, rgba(255, 229, 180, 1) 0%, rgba(250, 199, 152, 0.808) 63%);

    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 100%;
        height: 50%;
        padding-bottom: 12px;

        img {
            height: 100%;
            width: 60%;
            border: 1px solid black;
            box-shadow: 1px 1px 4px black;
            border-radius: 3px;

            // zoom hover
            transition: transform 0.3s ease-in-out;

        }

        img:hover {
            transform: scale(1.1);
        }
    }




    h2 {
        margin: 0;
        width: 100%;
        text-align: center;
        font-family: "Alegreya Sans SC", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: black;

    }

    p {
        width: 100%;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* Görünecek maksimum satır sayısı */
        overflow: hidden;
        text-align: center;
        font-family: "Alegreya", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

    }

}



#edit,
#del {
    position: absolute;

}

.card {
    position: relative;
}

#edit {
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    width: 50px;
    transition: width 0s;
    border-radius: 50px 10px 10px 50px;

    background-color: blue;

}

#del {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: width 0s;
    border-radius: 10px 50px 50px 10px;

    background-color: red;
}

.cardContainer {
    width: 100%;
}

#del:hover,
#edit:hover {
    transition: opacity 0.5s ease;
    opacity: 0.8;
    width: 30%;
    /* Hover durumunda genişlik anında 0 olur */
    animation: expand 0.9s forwards;

    border: none;

}

@keyframes expand {
    to {
        width: 50%;

    }
}



body {
    margin: 0;
    background-color: $bg-color;
}

#root {
    width: 100%;
}

.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 20px 0 0 0;

}