$card-color: #6C7A89;
$bg-color: #E0E7E9;
$text-color: #E0E7E9;



.card {
    width: 20%;
    height: 300px;
    background-color: $card-color;
    color: $text-color;
    display: flex;
    justify-items: center;

    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;


    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 100%;
        height: 50%;

        img {
            height: 100%;
            width: 60%;

        }
    }


    h2 {
        margin: 0;
        width: 100%;
        text-align: center;

    }

    p {
        width: 100%;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* Görünecek maksimum satır sayısı */
        overflow: hidden;

    }

}



#edit,
#del {
    position: absolute;
}

.card {
    position: relative;
}

#edit {
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    width: 50px;
    transition: width 0s;
    border-radius: 50px 10px 10px 50px;

    background-color: blue;

}

#del {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: width 0s;
    border-radius: 10px 50px 50px 10px;

    background-color: red;
}

.cardContainer {
    width: 100%;
}

#del:hover,
#edit:hover {
    transition: opacity 0.5s ease;
    opacity: 0.8;
    width: 30%;
    /* Hover durumunda genişlik anında 0 olur */
    animation: expand 0.7s forwards;
}

@keyframes expand {
    to {
        width: 50%;

    }
}



body {
    margin: 0;
    background-color: $bg-color;
}

#root {
    width: 100%;
}

.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 20px 0 0 0;

}