$bg-color: #1B1A17;
$hover-color: #A35709;
$text-color: #FF8303;

.navbar {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;

    width: 100%;


    .navbar-logo {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding: 1.1rem;
    }

    .navbar-links {
        list-style: none;
        display: flex;
        gap: 1.1rem;
        padding: 1.1rem;


        .navbar-item {
            .navbar-link {
                color: $text-color;
                text-decoration: none;
                font-size: 1rem;
                font-weight: bolder;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}