$primary-color: #354649;
$secondary-color: #A3C6C4;
$white-color: #E0E7E9;

.navbar {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;

    width: 100%;


    .navbar-logo {
        color: $white-color;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        padding: 1.1rem;
    }

    .navbar-links {
        list-style: none;
        display: flex;
        gap: 1.1rem;
        padding: 1.1rem;


        .navbar-item {
            .navbar-link {
                color: $white-color;
                text-decoration: none;
                font-size: 1rem;
                font-weight: bolder;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}