:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  color-scheme: light dark;

}

.welcome {
  margin: 50px;
  text-align: center;
}




#root {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}